<div class="row height-85-auto glass-effect d-flex">
    <div class="d-flex flex-column justify-content-center col-6 gap-4">
        @* Home Welcome *@
        <div>
            <h1 class="font-bold">Discover Your <span class="text-orangered">Dream</span> House</h1>
            <p class="fs-18">Welcome to EliteEstate. Find your perfect property, anywhere in the world, at affordable prices. Start your search today.</p>
        </div>

        @* Home Quick Information *@
        <div class="d-flex gap-4">
                <div class="info-sales">
                    <h3 class="text-orangered font-bold text-center">790</h3>
                    <p class="font-bold">Sales So Far</p>
                </div>

                <div class="info-costumers">
                    <h3 class="text-orangered font-bold text-center">698</h3>
                    <p class="font-bold">Happy Costumers</p>
                </div>

                <div class="info-ready-for-sale">
                    <h3 class="text-orangered font-bold text-center">457</h3>
                    <p class="font-bold">Ready For Sale</p>
                </div>

                <div class="info-total-properties">
                    <h3 class="text-orangered font-bold text-center">964</h3>
                    <p class="font-bold">Properties In Total</p>
                </div>
        </div>

        @* HomePage About Us *@
        <div>
            <h2 class="font-bold">About Us</h2>
            <p class="fs-18">EliteEstate is a real estate agency that provides a wide range of real estate services. We offer a large selection of properties for sale and for rent in the area of your interest. Our team is dedicated to helping you find the right property, whether it is a house, a villa, a flat, a plot of land or an investment property. We are here to help you make the right choice and to provide you with all the necessary information and advice. We are committed to providing the highest level of service to our clients.</p>
        </div>
    </div>
    
    <div class="home-images col-6">
        <div class="d-flex align-items-center">
            <img src="~/images/home-image-1.jpg" class="home-image" alt="">
            <a href="ExploreProperties?categoryId=&propertyTypeId=1&location=&minPrice=&maxPrice=" class="home-text-link"><h2 class="home-image-text font-bold first-image-text animate-underline">Villas</h2></a>
        </div>

        <div class="d-flex justifty-content-end align-items-center">
            <a href="ExploreProperties?categoryId=&propertyTypeId=5&location=&minPrice=&maxPrice=" class="home-text-link"><h2 class="home-image-text font-bold animate-underline">Mansions</h2></a>
            <img src="~/images/home-image-2.jpg" class="home-image" alt="">
        </div>

        <div class="d-flex align-items-center">
            <img src="~/images/home-image-3.jpg" class="last-image" alt="">
            <a href="ExploreProperties?categoryId=&propertyTypeId=7&location=&minPrice=&maxPrice=" class="home-text-link"><h2 class="home-image-text font-bold last-image-text animate-underline">Houses</h2></a>
        </div>
    </div>
    @* <div class="boxes col-6 d-flex justify-content-center"> <div><img class="lazy loaded" decoding="async" src="https://someetings.com/wp-content/uploads/2021/10/Someetings-Event-Planning-Company.jpeg" data-src="https://someetings.com/wp-content/uploads/2021/10/Someetings-Event-Planning-Company.jpeg" alt="Someetings | Event Planning Company" style="width: 324px; height: 420px; object-fit: cover; right: 0px; opacity: 1;" data-was-processed="true"></div> <div class="boxes__box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div> <div class="boxes__box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div> <div class="boxes__box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div> <div class="boxes__box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div> <div class="boxes__box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div> <div class="boxes__box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div> *@
    @* <div class="boxes col-6">
        <div><img class="lazy" decoding="async" src="https://someetings.com/wp-content/uploads/2021/10/Someetings-Event-Planning-Company.jpeg" data-src="https://someetings.com/wp-content/uploads/2021/10/Someetings-Event-Planning-Company.jpeg" alt="Someetings | Event Planning Company" style="width:324px;height:420px;object-fit:cover;"></div>
        <div class="boxes__box"></div>
        <div class="boxes__box"></div>
        <div class="boxes__box"></div>
        <div class="boxes__box"></div>
        <div class="boxes__box"></div>
        <div class="boxes__box"></div>
    </div> *@
</div>