@* @model PropertyType
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form asp-action="CreatePropertytype">
    <div class="form-group">
        <label asp-for="TypeOfproperty" class="control-label"></label>
        <input asp-for="TypeOfproperty" class="form-control" />
        <span asp-validation-for="TypeOfproperty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>z *@